#language{
	
	width: 350px;
	margin: auto;
}
#header{

	height: 30px;
	width: 60%;
	box-sizing: border-box;
	overflow: hidden;
	margin: auto;
	margin-top: 10px;
}
#foot{
	background: #D8D8D9;
	bottom: 0;
	height: 30px;
	width: 60%;
	text-align: center;
    box-sizing: border-box; 
    overflow: hidden;
    margin: auto;
}
#big{
	box-shadow:3px 3px 3px 3px #cccccc;
}
#mid{
	width: 100%;
	
	margin: auto;
}
#content{
	width:60%;
	padding-top: 2%;
	height: 1700px;
    margin: auto;
}
#box_top{
	margin: auto;
	margin-bottom: 5px;
}
#box_left{
	position: relative;
	float: left;
	width: 45%;
	height: 1200px;
	overflow-x: hidden;
    overflow-y: scroll;
	margin: auto;
	margin-top: 15%;
}
#box_left::-webkit-scrollbar {
    display: none;
}
#box_right{
	position: relative;
	float: right;
	width: 45%;
	height: 1200px;
	overflow-x: hidden;
    overflow-y: scroll;
	margin: auto;
	margin-top: 15%;
}
#box_right::-webkit-scrollbar {
    display: none;
}

		#link{
			text-decoration: none;
		}
		#list_style{
			margin-left: -15px;
			list-style-type:none;
		}
		#list_style2{
			
			text-align: center;
			margin-left: -15px;
			list-style-type:none;
			display: inline;
		}
		#mouse{
			color: red;
		}
		#ul_speak{
			list-style-type:none;
			color: #40CD5A;
			font-size: 25px;
			font-weight: 550;
			
		}
		#ul2_speak{
			list-style-type:none;
			color: #40CD5A;
			font-weight: 550;
			font-size: 25px;
			margin-right: 170px;
		}
		#message{
			margin-left: 80%;
			letter-spacing: 10px;
		}
		#mypic{
		
		width: 226px;
		height: 226px;
		margin-left: 30px;
		margin-top: 50px;
		margin: 0px auto;
		overflow: hidden;
		border-radius: 50%;		
		}
		#mypic_text{
			
		text-align: center;	
		margin: 0px auto;
		
		}
		#pic_align{
		vertical-align:middle;
		}
		#title{
			background-color: #DAEEFF;
			font-weight: bold;
			font-family: Microsoft JhengHei;
			font-size: 25px;
		}
		#work_title{
			color: #2C8AD8;
			font-weight: 550;
		}
